
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//CSS für Layout.blade
.navbar-laravel {
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.card-error{
  background-color: transparent;
  border: none;
  color: white;
}
